<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	<%= link_to "Home" , portfolio_index_path %>
 	<%= link_to "About", portfolio_about_path %>
 	<%= link_to "login", portfolio_login_path %>
 	<%= link_to "invoices", invoices_path %>

    <%= yield %>
  </body>
</html>
